  {% extends "base.html" %}

  {% block content %}

  {% if messages %}
    {{ messages }}
  {% endif %}

  <div style="margin-top:51px;" class="container-fluid">
      <div class="row">
        <div class="col-md-3 col-sm-3 col-lg-3 sidebar">
          <div class="h4">Listeleme</div>
          <div class="list-group"><a href="/gundem-bugun" class="list-group-item"><span class="glyphicon glyphicon-calendar"></span> Günün Hadiseleri</a>
          <a href="/gundem/gecmis-7-gun" class="list-group-item"><span class="glyphicon glyphicon-calendar"></span> Geçmiş 7 Gün</a><!--<a role="button" data-toggle="collapse" href="#tagLists" class="list-group-item"><span class="glyphicon glyphicon-tags"></span> Etiketler  <span class="pull-right glyphicon glyphicon-chevron-down" aria-hidden="true"></span></a>-->
            <!--<div id="tagLists" class="collapse">-->

              <div style="padding:5px;">
                <h4 style="padding-left:5px;">Etiketler</h4>
                {% for g in gundem %}
                  {% for etiket in g.tags.all %}
                    <a href="/gundem/etiket/{{ etiket.pk }}" class="btn btn-link btn-xs">{{ etiket }}</a>                  
                  {% endfor %}
                {% endfor %}

              </div>
            <!--</div>-->
          </div>
          
          </form>
          
        </div>
        <div style="margin-top:30px;" class="col-md-9 col-sm-9 col-lg-9">         
          <div style="margin-top:10px;" class="form-group col-md-3 col-sm-3 col-lg-3">
            <label for="sel3">Önceliğe Göre Listeleme:</label>
            
              <select id="sel3" class="form-control" onchange="this.options[this.selectedIndex].value && (window.location = this.options[this.selectedIndex].value);">
                {% for liste in onem_derecesi   %}
                  <option value="/gundem/onem_derecesi/{{ liste.pk }}">{{ liste }}</option>
                {% endfor %}
              </select>
            
          </div>
          <div style="line-height:98px;" class="small pull-right">Toplam 124 Gündem</div>
          <div class="clearfix"></div>
          <form action="#">
            <table class="table table-hover">
              <thead>
                <tr>               
                  <th>Gündem</th>
                  <th>Önem Derecesi</th>
                  <th>Tarih</th>
                  <th>Etiket</th>
                  <th>İşlem</th>
                </tr>
              </thead>
                
                
                {% for gundemler in gundem %}
                  <tbody>
                    <tr>
                      <th width="50%" class="pointer"> 
                        <a href="/gundem/{{ gundemler.pk }}">
                        {{ gundemler.gundem_adi }}
                        </a>
                      </th>
                      
                      <td>
                        {% if gundemler.onem_derecesi.derece == "Orta"  %}
                          <span class="label label-warning">
                          {{ gundemler.onem_derecesi }}
                        </span>  
                        {% endif %}

                        {% if gundemler.onem_derecesi.derece == "Yüksek"  %}
                          <span class="label label-danger">
                          {{ gundemler.onem_derecesi }}
                        </span>  
                        {% endif %}

                        {% if gundemler.onem_derecesi.derece == "Düşük"  %}
                          <span class="label label-default">
                          {{ gundemler.onem_derecesi }}
                        </span>  
                        {% endif %}
                        
                      </td>
                      
                      <td><small>{{ gundemler.gundem_tarihi }}</small></td>
                      
                      <td class="small">
                        {% for etiket in gundemler.tags.all %} 
                          <a href="/gundem/etiket/{{ etiket.pk }}" class="btn btn-link btn-xs">{{ etiket }}</a>
                        {% endfor %} 
                      </td>

                      <td> 
                      <div role="group" class="btn-group">
                        <button type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="btn btn-warning dropdown-toggle">İşlem Seçiniz<span class="caret"></span></button>
                        <ul class="dropdown-menu">
                          <!--<li><a href="/gundem/{{ gundemler.pk }}">Detayları Gör</a></li>-->
                          <li><a href="/gundem-update/{{ gundemler.pk }}">Düzenle</a></li>
                          <li role="separator" class="divider"></li>
                          <li><a href="#">Sil</a></li>
                        </ul>
                      </div>
                    </td>
                    </tr>
                  </tbody>
                  {% empty %}
                    <h3>Henüz herhangi bir giriş yapılmadı</h3>
                {% endfor %}

                
            </table>
          </form>
          <!--nav
          ul.pagination
            li
              a(href='#', aria-label='Previous')
                span(aria-hidden='true') «
            li
              a(href='#') 1
            li
              a(href='#') 2
            li
              a(href='#') 3
            li
              a(href='#') 4
            li
              a(href='#') 5
            li
              a(href='#', aria-label='Next')
                span(aria-hidden='true') »
          
          -->
        </div>
      </div>
    </div>

  
  {% endblock content %}