  {% extends "base.html" %}

  {% block content %}
{{ content|safe }}
  <div style="margin-top:51px;" class="container">
    <div class="col-md-6 col-md-offset-3">
      
      <div class="row" style="margin-top:15px;">
          <a href="javascript:void(0);" onclick="window.history.go(-1); return false;" class="btn btn-default btn-sm">
            <span class="glyphicon glyphicon-chevron-left"></span> Geri Dön
          </a>
        </div>

      <div class="row">         

        <h1>{{ gundem.gundem_adi }}</h1>
        
        <hr>

        <div class="h5">Önem Derecesi</div>

        {% if gundem.onem_derecesi.derece == "Orta"  %}
        <span class="label label-warning">
          {{ gundem.onem_derecesi }}
        </span>  
        {% endif %}

        {% if gundem.onem_derecesi.derece == "Yüksek"  %}
        <span class="label label-danger">
          {{ gundem.onem_derecesi }}
        </span>  
        {% endif %}

        {% if gundem.onem_derecesi.derece == "Düşük"  %}
        <span class="label label-default">
          {{ gundem.onem_derecesi }}
        </span>  
        {% endif %}
        
        <hr/>
        <div class="h5">Tarih</div>
        <div class="h4">{{ gundem.gundem_tarihi }}</div>






          <hr/>
        <div class="h5">Etiketler</div>
        <div class="h4">
          {% for etiket in gundem.tags.all %}
          <div class="label label-default">
            <span class="glyphicon glyphicon-tag"></span> {{ etiket }}</div>
              {% empty %}
              <small>Etiket girişi yapılmadı...</small>

          {% endfor %}
        </div>




        {% if gundem.gorusler != "" %}
         <hr/>
        <div class="h5">Görüşler</div>

        <div class="h4">
          {{ gundem.gorusler }}
        </div>
        {% endif %}


        <hr/>
        <div class="small"> <span class="glyphicon glyphicon-user"></span>
        {{ gundem.ekleyen_kullanici }}</div>
      </div>
      <div class="clearfix"></div>


      <div class="row" style="margin-top:20px;">
        <hr>
        <a href="/gundem-delete/{{ gundem.pk }}" class="btn btn-small btn-danger pull-left">Sil</a>

        <a href="/gundem-update/{{ gundem.pk }}" class="btn btn-small btn-primary pull-right">Düzenle</a>
      </div>
    </div>
  </div>
  
  {% endblock content %}