  {% extends "base.html" %}

  {% block content %}

  <div style="margin-top:51px;" class="container">
    <div class="col-md-6 col-md-offset-3">

      <div class="row" style="margin-top:15px;">
          <a href="javascript:void(0);" onclick="window.history.go(-1); return false;" class="btn btn-default btn-sm">
            <span class="glyphicon glyphicon-chevron-left"></span> Vazgeç ve Geri Dön
          </a>
        </div>

      <div class="row">

       <form action="" method="post">{% csrf_token %}
             <h3>Dikkat!</h3>
            <p> Bu işlem geri alınamaz. Silmek istediğinizden emin misiniz?</p>

            <button onclick="this.disabled=true;this.value='Siliniyor';this.form.submit();" type="submit" class="btn btn-lg btn-danger btn-block">Sil</button>
       </form>

    </div>
  </div>

  {% endblock content %}