{% extends "base.html" %}
{% block content %}
<div style="margin-top:51px;" class="container">
  <div class="row" style="margin-top:15px;">
    <a href="/dashboard" class="btn btn-default btn-sm">
      <span class="glyphicon glyphicon-chevron-left"></span> Geri Dön
    </a>
  </div>

  <div class="row">       
    <h1>Kullanıcı Listesi</h1>
    <div style="margin-top:30px;" >
      <div class="clearfix"></div>

      <form action="#">
        <table class="table">
          <thead>
            <tr>               
              <th>Ad Soyad</th>
              <th>Telefon Numarası</th>
              <th>Mail adresi</th>
              <th>Tanım</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr>               
              <td width="30%" class="pointer"> 
                Adem Ceylanoğlu
              </td>
              <td class="small">0543 543 43 42</td>
              <td class="small">adem.ceylanoglu@gmail.com</td>
              <td><small>AK Parti Küçükçekmece Teşkilatı Yönetim Kurulu Üyesi</small></td>
              <td> 
                <div role="group" class="btn-group">
                  <button type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="btn btn-warning dropdown-toggle">İşlem Seçiniz<span class="caret"></span></button>
                  <ul class="dropdown-menu">                      
                    <li><a href="#">Düzenle</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a href="#">Sil</a></li>
                  </ul>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </form>
    </div>
  </div>
</div>

{% endblock content %}