  {% extends "base.html" %}

  {% block content %}

  <div style="margin-top:51px;" class="container">
    <div class="col-md-6 col-md-offset-3">

      <div class="row" style="margin-top:15px;">
          <a href="javascript:void(0);" onclick="window.history.go(-1); return false;" class="btn btn-default btn-sm">
            <span class="glyphicon glyphicon-chevron-left"></span> Vazgeç ve Geri Dön
          </a>
        </div>

      <div class="row">

       <form action="" method="post">{% csrf_token %}
    {% csrf_token %}

            {% for hidden in form.hidden_fields %}
            {{ hidden }}
          {% endfor %}

          {% if hata %}
            <div class="alert alert-danger">
              {{ hata }}
            </div>
          {% endif %}

            <div class="form-group" style="margin-top: 20px">
                {{ form.as_p}}
            </div>


            <button onclick="this.disabled=true;this.value='Ekleniyor';this.form.submit();" type="submit" class="btn btn-lg btn-success btn-block">Önem Derecesi Ekle</button>
</form>

    </div>
  </div>

  {% endblock content %}